/* Body*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}

/* Nav Bar */

.logo {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

nav a {
    color: #666;
    text-decoration: none;
    margin: 0 15px;
    
}
nav a:hover
{
    color: #333;
    font-weight: bold;
}
nav a i {
    margin-right: 5px;
}

.sign-buttons .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

.sign-buttons .btn:hover {
    background-color: #0056b3;
}
#signup
{
    background-color: white;
    color: #007bff;
}
#signup:hover
{
    background-color: #aeb8c4;
}

/* Registration Form*/

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-style: italic;
}

.input-field input {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-field input[type="password"] {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1px;
}

.input-field input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
.terms
{
    font-size: 12px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.register-btn:hover {
    background-color: #5a6268;
}

/* Footer*/

footer {
    margin-top: 30px;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-content nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    align-items: center;
}
.footer-nav ul
{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}


.footer-content nav ul li {
    margin-right: 15px;
   
}

.footer-content nav ul li a {
    text-decoration: none;
    color: #333;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
   
}
.social-icon {
    color: #666;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
    
}
.social-icon:hover {
    color: #000;
}
.logo-container
{
    text-align: right;
    margin-top: -50px;
}
.footer-logo {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.legal-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}
.footer-bottom a:hover {
    text-decoration: underline;
}

