body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    
}

/* Nav Bar */

.logo {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    
}
nav a:hover
{
    color: #0099ff;
    font-weight: bold;
}
nav a i {
    margin-right: 5px;
}

.custom-button {
    background-color: #2f439c; /* Green */
    border: none;
    align-items: center;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    align-items: center;
    
}

.custom-button:hover {
    background-color: #0167ff; /* Darker green when hovered */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.footer-content nav ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    align-items: center;
}
.footer-nav ul
{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}


.footer-content nav ul li {
    margin-right: 15px;
   
}

.footer-content nav ul li a {
    text-decoration: none;
    color: #000000;
}

.social-media {
    display: flex;
    gap: 15px;
    justify-content: center;
   
}
.social-icon {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
    
}
.social-icon:hover {
    color: #000;
}
.logo-container
{
    text-align: right;
    margin-top: -50px;
}
.footer-logo {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.legal-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}
.footer-bottom a:hover {
    text-decoration: underline;
}



